@use 'base/variables' as v;
@use 'base/mixins' as m;

.nuestro-menu {
  background-image: url('../img/menu_arriba.svg'), url('../img/menu_abajo.svg'),
    linear-gradient(to top, v.$primario, v.$primario);
  background-repeat: no-repeat;
  background-position: center 5rem, center 98%, 100%;
  background-size: 200%;
  padding: 15rem 2rem 20rem 2rem;

  @include m.tablet {
    background-position: center 5rem, center 96%, 100%;
    background-size: 100%;
    padding: 15rem 0 20rem 0;
  }

  @include m.desktop {
    background-position: center 5rem, center 94%, 100%;
    background-size: 45%, 45%, 100%;
  }
}

.grid-menu {
  @include m.tablet {
    @include m.grid(2, 2rem);
  }
}

.menu {
  h3 {
    color: v.$blanco;
  }
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      color: v.$blanco;
      font-size: 2.2rem;
      line-height: 1.5;
      margin: 0 0 2rem 0;
      span {
        display: block;
        color: v.$secundario;
        font-size: 1.6rem;
      }
    }
    .precio {
      font-size: 4rem;
      font-weight: 700;
    }
  }
}
